@import url("https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700,800&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #252b42;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  background-color: #fafafa;
}

._conteiner {
  max-width: 1050px;
  margin: 0 auto;
  padding: 0 15px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.header__conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 104px;
}

.header__logo {
  margin-right: 11%;
  font-size: 24px;
  font-weight: bold;
}

.header__navbar {
  padding: 5px 0;
}

.navbar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.navbar__item {
  margin-left: 21px;
}

.navbar__link {
  color: #737373;
  font-size: 14px;
  line-height: 24px;
}
