@import url("https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700,800&display=swap");

$text-color: #252b42;
$second-text-color: #737373;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: $text-color;
}
body {
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	background-color: #fafafa;
}
._conteiner {
	max-width: 1050px;
	margin: 0 auto;
	padding: 0 15px;
	box-sizing: content-box;
}
a {
	text-decoration: none;
}
li {
	list-style: none;
}
._bgi {
	position: relative;
	img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
._first img {
	object-position: right;
	opacity: 0.8;
}
._second {
	display: none;
}
._title {
	display: flex;
	align-items: center;
	flex-direction: column;
	h1 {
		font-weight: bold;
		font-size: 40px;
		line-height: 40px;
		letter-spacing: 0.2px;
		margin-bottom: 15px;
	}
	p {
		font-weight: 500;
		font-size: 14px;
		line-height: 20px;
		text-align: center;
		letter-spacing: 0.2px;
		color: $second-text-color;
		width: 511px;
	}
}
//header--------------------------------------------------------
.header {
	position: absolute;
	width: 100%;
	z-index: 5;
	left: 0;
	top: 0;
	&__conteiner {
		display: flex;
		align-items: center;
		min-height: 104px;
	}
	&__logo {
		margin-right: 11%;
		font-size: 24px;
		font-weight: bold;
	}
	&__navbar {
		padding: 5px 0;
	}
}
.navbar {
	&__list {
		display: flex;
		flex-wrap: wrap;
	}
	&__item {
		margin-left: 21px;
	}
	&__link {
		color: $second-text-color;
		font-size: 14px;
		line-height: 24px;
	}
}
//main--------------------------------------------------------
.main {
	//body--------------------------------------------------------
	position: relative;
	&__body {
		width: 400px;
		padding: 184px 0 191px 0;
		z-index: 2;
	}
	&__title {
		font-weight: 800;
		font-size: 56px;
		line-height: 80px;
	}
	&__sub-title {
		font-weight: 500;
		font-size: 20px;
		color: $second-text-color;
		margin: 40px 0;
	}
	&__buttons {
		margin-top: 35px;
	}
	&__button-now {
		padding: 15px 36px;
		background-color: #ff7b47;
		border-radius: 37px;
		color: #fff;
		font-size: 14px;
		font-weight: 700;
		line-height: 28px;
		text-align: center;
		letter-spacing: 0.2px;
	}
	&__button-more {
		padding: 15px 36px;
		border: 1px solid #0d5c63;
		border-radius: 37px;
		color: #0d5c63;
		margin-left: 10px;
	}
	&__background {
		z-index: -1;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

//consalting--------------------------------------------------------
.page__consalting {
	margin-top: -111px;
	position: relative;
	z-index: 2;
}
.consalting {
	&__conteiner {
		display: flex;
	}
	&__item {
		width: 330px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		background-color: #fff;
		padding: 35px 40px;
		box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
		&:not(:last-child) {
			margin-right: 30px;
		}
	}
	&__img {
		width: 48px;
	}
	&__title {
		font-size: 24px;
		font-weight: 700;
		line-height: 32px;
		letter-spacing: 0.1px;
		margin-top: 10px;
	}
	&__sub-title {
		font-weight: 500;
		font-size: 14px;
		line-height: 20px;
		letter-spacing: 0.2px;
		margin-top: 10px;
	}
}
.finacial-item {
	span,
	p {
		color: #fff;
	}
	background-color: #0d5c63;
}
//design--------------------------------------------------------
.design {
	margin-top: 80px;
	&__section {
		display: flex;
		justify-content: center;
		margin-top: 50px;
		margin-bottom: 80px;
	}
	&__item {
		width: 230px;
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: #fff;
		padding: 30px;
		box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
		&:not(:last-child) {
			margin-right: 30px;
		}
	}
	&__img {
		width: 48px;
		height: 48px;
	}
	&__item-title {
		font-weight: bold;
		font-size: 30px;
		line-height: 57px;
		letter-spacing: 0.2px;
	}
	&__item-sub-title {
		font-weight: bold;
		font-size: 16px;
		line-height: 24px;
		text-align: center;
		letter-spacing: 0.1px;
		color: $second-text-color;
	}
}
//advice--------------------------------------------------------
.advice {
	&__conteiner {
		margin-top: 125px;
	}
	&__section {
		margin-top: 45px;
		margin-bottom: 80px;
		display: flex;
		flex-wrap: wrap;
	}
	&__item {
		display: flex;
		flex-direction: column;
		width: 240px;
		background-color: #fff;
		box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
		&:not(:last-child) {
			margin-right: 30px;
		}
	}
	&__item-box {
		padding: 30px;
		flex: 1 auto;
	}
	&__item-title {
		font-weight: bold;
		font-size: 16px;
		line-height: 24px;
		letter-spacing: 0.1px;
	}
	&__item-sub-title {
		font-weight: 500;
		font-size: 14px;
		line-height: 20px;
		letter-spacing: 0.2px;
		color: $second-text-color;
		margin-top: 15px;
	}
	&__item-img {
		width: 100%;
	}
}
//who we are--------------------------------------------------------
.we {
	background-color: #fff;
	padding-top: 100px;
	&__section {
		margin-top: 100px;
		padding-bottom: 136px;
		display: flex;
	}
	&__item {
		display: flex;
		flex-direction: column;
	}
	.info {
		margin-left: 60px;
	}
	&__title {
		font-weight: bold;
		font-size: 40px;
		line-height: 57px;
		letter-spacing: 0.2px;
	}
	&__sub-title {
		font-weight: 500;
		font-size: 14px;
		line-height: 20px;
		letter-spacing: 0.2px;
		color: $second-text-color;
	}
	&__info {
		display: flex;
		align-items: flex-start;
		margin-top: 30px;
		&-titles {
			margin-left: 20px;
		}
		&-title {
			font-weight: bold;
			font-size: 16px;
			line-height: 24px;
			letter-spacing: 0.1px;
		}
		&-sub-title {
			font-weight: 600;
			font-size: 14px;
			line-height: 24px;
			letter-spacing: 0.2px;
			color: $second-text-color;
		}
	}
}
//Parnter--------------------------------------------------------
.partner {
	position: relative;
	&__conteiner {
		margin-top: 50px;
	}
	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__sponsor {
		display: flex;
		flex-wrap: wrap;
	}
	&__link {
		display: flex;
		&:not(:last-child) {
			margin-right: 60px;
		}
		img:hover {
			opacity: 0.7;
		}
	}
	&__mail {
		display: flex;
		background-color: #17213c;
		align-items: center;
		width: 85%;
		border-radius: 2px;
		margin-top: 60px;
		margin-bottom: 20px;
	}
	&__title {
		color: #fff;
		font-weight: bold;
		font-size: 24px;
		line-height: 32px;
		letter-spacing: 0.1px;
		width: 266px;
		margin: 30px 100px 30px 50px;
	}
	&__send-massege {
		background: #f9f9f9;
		border: 1px solid #e6e6e6;
		box-sizing: border-box;
		border-radius: 5px;
		display: flex;
		width: 450px;
		justify-content: space-between;
		margin-right: 40px;
	}
	&__input {
		border: none;
		border-radius: 5px 0 0 5px;
		padding: 15px;
		font-weight: normal;
		font-size: 14px;
		line-height: 28px;
		letter-spacing: 0.2px;
		width: 100%;
	}
	input:active,
	input:hover,
	input:focus {
		outline: 0;
		outline-offset: 0;
	}
	&__button {
		padding: 15px 23px;
		align-items: center;
		color: #fff;
		background: #ff7b47;
		border-radius: 0px 5px 5px 0px;
		font-weight: normal;
		font-size: 14px;
		line-height: 28px;
		text-align: center;
		letter-spacing: 0.2px;
	}
}
.page__bottom {
	position: absolute;
	background-color: #252b42;
	bottom: 0;
	width: 100%;
	height: 77px;
	z-index: -2;
}
//Get In Touch--------------------------------------------------------
.getintouch {
	&__titles {
		padding: 80px 0;
	}
	&__section {
		display: flex;
		justify-content: center;
		margin-bottom: 100px;
	}
	&__item {
		box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
		background-color: #fff;
		display: flex;
		flex-direction: column;
		padding: 50px 40px;
		align-items: center;
		&.item {
			background-color: #252b42;
			color: #fff;
			transform: scale(1.1);
			p,
			span,
			a,
			img {
				color: #fff;
			}
			a {
				border: 1px solid #fff;
			}
		}
	}
	&__item-img {
		margin-bottom: 15px;
	}
	&__item-text {
		color: #252b42;
		font-weight: 600;
		font-size: 14px;
		line-height: 24px;
		letter-spacing: 0.2px;
	}
	&__item-title {
		margin: 15px 0;
		color: #252b42;
		font-weight: 600;
		font-size: 14px;
		line-height: 24px;
		letter-spacing: 0.2px;
	}
	&__item-button {
		padding: 10px 20px;
		border: 1px solid #ff7b47;
		color: #ff7b47;
	}
}
//Contact--------------------------------------------------------

.contact {
	background-color: #fff;
	padding: 40px 0;
	&__conteiner {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__item {
	}
	&__title {
		font-weight: bold;
		font-size: 24px;
		line-height: 32px;
		letter-spacing: 0.1px;
		margin-bottom: 10px;
	}
	&__sub-title {
		font-weight: 500;
		font-size: 14px;
		line-height: 20px;
		letter-spacing: 0.2px;
		color: $second-text-color;
	}
	&__button {
		padding: 15px 40px;
		color: #fff;
		background-color: #ff7b47;
		border-radius: 5px;
	}
}
//footer---------------------------------------------------------------------
.menu {
	background-color: #17213c;
	&__conteiner {
		padding: 50px 0;
		display: flex;
	}
	&__item {
		display: flex;
		flex-direction: column;
		max-width: 320px;
		&:not(:last-child) {
			padding-right: 30px;
		}
	}
	&__title {
		color: #fff;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	&__text {
		margin-bottom: 20px;
		color: #fff;
		font-weight: bold;
		font-size: 16px;
		line-height: 24px;
		letter-spacing: 0.1px;
	}
	&__sub-title {
		&:not(:last-child) {
			margin-bottom: 10px;
		}
		a {
			color: #fff;
			font-weight: 600;
			font-size: 14px;
			line-height: 24px;
			letter-spacing: 0.2px;
		}
	}
	.getintouch-footer {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		img {
			margin-right: 10px;
		}
	}
}
//fotter down----------------------------------------------
.down {
	&__conteiner {
		display: flex;
		justify-content: space-between;
		padding: 25px 0;
	}
	&__link {
		&:not(:last-child) {
			margin-right: 10px;
		}
	}
	&__text {
		font-weight: 600;
		font-size: 14px;
		line-height: 24px;
		letter-spacing: 0.2px;
		color: $second-text-color;
	}
}

//media-----------------------------------------------------------
@media (max-width: 1100px) {
	._conteiner {
		max-width: 768px;
	}
	.consalting {
		&__conteiner {
			flex-direction: column;
			align-items: center;
		}
		&__item {
			&:not(:last-child) {
				margin-bottom: 25px;
				margin-right: 0;
			}
		}
	}
	.design {
		&__section {
			display: grid;
			grid-template-columns: auto auto;
		}
		&__item {
			margin: 0 15px 15px 0;
		}
	}
	.advice {
		&__section {
			display: grid;
			grid-template-columns: auto auto;
			justify-content: center;
		}
		&__item {
			margin: 0 15px 15px 0;
		}
	}
	.we {
		&__section {
			flex-direction: column;
		}
		&__sub-title {
			max-width: 500px;
		}
		.info {
			margin: 20px 0 0 0;
		}
	}
	.partner {
		&__sponsor {
			display: grid;
			grid-template-columns: auto auto auto;
			justify-content: center;
		}
		&__link {
			margin-top: 20px;
		}
		&__title {
			font-size: 17px;
		}
	}
	.getintouch {
		&__section {
			flex-direction: column;
			align-items: center;
		}
		&__item {
			max-width: 300px;
		}
	}
}
@media (max-width: 800px) {
	._conteiner {
		max-width: 500px;
	}
	._first {
		display: none;
	}
	._second {
		display: block;
		opacity: 0.7;
	}
	.main {
		&__title {
			font-size: 40px;
			line-height: 50px;
		}
	}
	._title {
		h1 {
			font-size: 28px;
		}
	}
	.we {
		&__video iframe {
			width: 450px;
		}
		&__title {
			font-size: 28px;
		}
	}
	.partner {
		&__mail {
			flex-direction: column;
		}
		&__title {
			width: 300px;
			margin: 20px 0;
		}
		&__send-massege {
			width: 300px;
			margin-right: 0;
			margin-bottom: 15px;
		}
	}
	.contact {
		&__conteiner {
			flex-direction: column;
		}
		&__title {
			font-size: 17px;
		}
		&__item:last-child {
			margin-top: 30px;
		}
	}
	.menu {
		&__item {
			width: 320px;
			margin: 0 auto 15px;
		}
		&__title {
			font-size: 11px;
			li {
				display: none;
				font-weight: normal;
				transition: all 1s ease;
			}
			&._active li {
				display: flex;
			}
		}
		&__conteiner {
			flex-direction: column;
		}
	}
}
@media (max-width: 520px) {
	._conteiner {
		max-width: 280px;
	}
	.main {
		&__body {
			width: 250px;
		}
		&__title {
			font-size: 25px;
		}
		&__sub-title {
			font-size: 15px;
			width: 200px;
			line-height: 20px;
		}
		&__buttons {
			display: flex;
			flex-direction: column;
		}
		&__button-now {
			width: 200px;
			padding: 10px 20px;
		}
		&__button-more {
			width: 200px;
			margin-left: 0;
			margin-top: 30px;
			text-align: center;
			padding: 10px 20px;
		}
	}
	.consalting {
		&__item {
			width: 200px;
			padding: 35px 20px;
		}
		&__title {
			font-size: 18px;
			line-height: 25px;
		}
		&__img {
			width: 24px;
		}
		&__sub-title {
			font-size: 15px;
		}
	}
	.design {
		&__section {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
		&__item {
			margin: 15px 0 0 0;
			&:not(:last-child) {
				margin-right: 0;
			}
		}
	}
	.advice {
		&__section {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
		&__item {
			margin: 15px 0 0 0;
			&:not(:last-child) {
				margin-right: 0;
			}
		}
	}
	.we {
		&__video iframe {
			width: 270px;
		}
		&__title {
			font-size: 20px;
		}
	}
	._title {
		h1 {
			font-size: 24px;
			text-align: center;
		}
		p {
			width: 270px;
		}
	}
	.partner {
		&__link {
			margin: 35px 0 0 0;
			&:not(:last-child) {
				margin-right: 0;
			}
		}
		&__title {
			width: 200px;
		}
		&__sponsor {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
		&__send-massege {
			width: 220px;
		}
	}
	.getintouch {
		&__item {
			max-width: 240px;
		}
	}
	.menu {
		&__item {
			&:not(:last-child) {
				padding-right: 0;
			}
			width: 270px;
		}
	}
	.down {
		&__link {
			margin: 0 10px 10px 0;
		}
	}
}
