@import url("https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700,800&display=swap");

$text-color: #252b42;
$second-text-color: #737373;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: $text-color;
}
body {
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	background-color: #fafafa;
}
._conteiner {
	max-width: 1050px;
	margin: 0 auto;
	padding: 0 15px;
	box-sizing: content-box;
}
a {
	text-decoration: none;
}
li {
	list-style: none;
}
.header {
	&__conteiner {
		display: flex;
		align-items: center;
		min-height: 104px;
	}
	&__logo {
		margin-right: 11%;
		font-size: 24px;
		font-weight: bold;
	}
	&__navbar {
		padding: 5px 0;
	}
}
.navbar {
	&__list {
		display: flex;
		flex-wrap: wrap;
	}
	&__item {
		margin-left: 21px;
	}
	&__link {
		color: $second-text-color;
		font-size: 14px;
		line-height: 24px;
	}
}
