@import url("https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700,800&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #252b42;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  background-color: #fafafa;
}

._conteiner {
  max-width: 1050px;
  margin: 0 auto;
  padding: 0 15px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

._bgi {
  position: relative;
}

._bgi img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

._second {
  display: none;
}

._title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._title h1 {
  font-weight: bold;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 0.2px;
  margin-bottom: 15px;
}

._title p {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #737373;
  width: 511px;
}

.header {
  position: absolute;
  width: 100%;
  z-index: 5;
  left: 0;
  top: 0;
}

.header__conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 104px;
}

.header__logo {
  margin-right: 11%;
  font-size: 24px;
  font-weight: bold;
}

.header__navbar {
  padding: 5px 0;
}

.navbar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.navbar__item {
  margin-left: 21px;
}

.navbar__link {
  color: #737373;
  font-size: 14px;
  line-height: 24px;
}

.main {
  position: relative;
}

.main__body {
  width: 400px;
  padding: 184px 0 191px 0;
  z-index: 2;
}

.main__title {
  font-weight: 800;
  font-size: 56px;
  line-height: 80px;
}

.main__sub-title {
  width: 400px;
  font-weight: 500;
  font-size: 20px;
  color: #737373;
  margin: 40px 0;
}

.main__buttons {
  margin-top: 35px;
}

.main__button-now {
  padding: 15px 36px;
  background-color: #ff7b47;
  border-radius: 37px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.2px;
}

.main__button-more {
  padding: 15px 36px;
  border: 1px solid #0d5c63;
  border-radius: 37px;
  color: #0d5c63;
  margin-left: 10px;
}

.main__background {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.page__consalting {
  margin-top: -111px;
  position: relative;
  z-index: 2;
}

.consalting__conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.consalting__item {
  width: 330px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: #fff;
  padding: 35px 40px;
  -webkit-box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}

.consalting__item:not(:last-child) {
  margin-right: 30px;
}

.consalting__item img {
  width: 48px;
}

.consalting__item span {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.1px;
  margin-top: 10px;
}

.consalting__item p {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  margin-top: 10px;
}

.finacial-item {
  background-color: #0d5c63;
}

.finacial-item span,
.finacial-item p {
  color: #fff;
}

.design {
  margin-top: 80px;
}

.design__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
  margin-bottom: 80px;
}

.design__item {
  width: 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  padding: 30px;
  -webkit-box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}

.design__item:not(:last-child) {
  margin-right: 30px;
}

.design__img {
  width: 48px;
  height: 48px;
}

.design__item-title {
  font-weight: bold;
  font-size: 30px;
  line-height: 57px;
  letter-spacing: 0.2px;
}

.design__item-sub-title {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #737373;
}

.advice__conteiner {
  margin-top: 125px;
}

.advice__section {
  margin-top: 45px;
  margin-bottom: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.advice__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 240px;
  background-color: #fff;
  -webkit-box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}

.advice__item:not(:last-child) {
  margin-right: 30px;
}

.advice__item-box {
  padding: 30px;
  -webkit-box-flex: 1;
      -ms-flex: 1 auto;
          flex: 1 auto;
}

.advice__item-title {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
}

.advice__item-sub-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
  margin-top: 15px;
}

.advice__item-img {
  width: 100%;
}

.we {
  background-color: #fff;
  padding-top: 100px;
}

.we__section {
  margin-top: 100px;
  padding-bottom: 136px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.we__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.we .info {
  margin-left: 60px;
}

.we__title {
  font-weight: bold;
  font-size: 40px;
  line-height: 57px;
  letter-spacing: 0.2px;
}

.we__sub-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
}

.we__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 30px;
}

.we__info-titles {
  margin-left: 20px;
}

.we__info-title {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
}

.we__info-sub-title {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #737373;
}

.partner {
  position: relative;
}

.partner__conteiner {
  margin-top: 50px;
}

.partner__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.partner__sponsor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.partner__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.partner__link:not(:last-child) {
  margin-right: 60px;
}

.partner__link img:hover {
  opacity: 0.7;
}

.partner__mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #17213c;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 85%;
  border-radius: 2px;
  margin-top: 60px;
  margin-bottom: 20px;
}

.partner__title {
  color: #fff;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
  width: 266px;
  margin: 30px 100px 30px 50px;
}

.partner__send-massege {
  background: #f9f9f9;
  border: 1px solid #e6e6e6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 450px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 40px;
}

.partner__input {
  border: none;
  border-radius: 5px 0 0 5px;
  padding: 15px;
  font-weight: normal;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.2px;
  width: 100%;
}

.partner input:active,
.partner input:hover,
.partner input:focus {
  outline: 0;
  outline-offset: 0;
}

.partner__button {
  padding: 15px 23px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  background: #ff7b47;
  border-radius: 0px 5px 5px 0px;
  font-weight: normal;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.2px;
}

.page__bottom {
  position: absolute;
  background-color: #252b42;
  bottom: 0;
  width: 100%;
  height: 77px;
  z-index: -2;
}

.getintouch__titles {
  padding: 80px 0;
}

.getintouch__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 100px;
}

.getintouch__item {
  -webkit-box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.getintouch__item.item {
  background-color: #252b42;
  color: #fff;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.getintouch__item.item p,
.getintouch__item.item span,
.getintouch__item.item a,
.getintouch__item.item img {
  color: #fff;
}

.getintouch__item.item a {
  border: 1px solid #fff;
}

.getintouch__item-img {
  margin-bottom: 15px;
}

.getintouch__item-text {
  color: #252b42;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
}

.getintouch__item-title {
  margin: 15px 0;
  color: #252b42;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
}

.getintouch__item-button {
  padding: 10px 20px;
  border: 1px solid #ff7b47;
  color: #ff7b47;
}

.contact {
  background-color: #fff;
  padding: 40px 0;
}

.contact__conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
  margin-bottom: 10px;
}

.contact__sub-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
}

.contact__button {
  padding: 15px 40px;
  color: #fff;
  background-color: #ff7b47;
  border-radius: 5px;
}

.menu {
  background-color: #17213c;
}

.menu__conteiner {
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 320px;
}

.menu__item:not(:last-child) {
  padding-right: 30px;
}

.menu__title {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.menu__text {
  margin-bottom: 20px;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
}

.menu__sub-title:not(:last-child) {
  margin-bottom: 10px;
}

.menu__sub-title a {
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
}

.menu .getintouch-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.menu .getintouch-footer img {
  margin-right: 10px;
}

.down__conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 25px 0;
}

.down__link:not(:last-child) {
  margin-right: 10px;
}

.down__text {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #737373;
}

@media (max-width: 1100px) {
  ._conteiner {
    max-width: 768px;
  }
  .consalting__conteiner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .consalting__item:not(:last-child) {
    margin-bottom: 25px;
    margin-right: 0;
  }
  .design__section {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
  }
  .design__item {
    margin: 0 15px 15px 0;
  }
  .advice__section {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .advice__item {
    margin: 0 15px 15px 0;
  }
  .we__section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .we__sub-title {
    max-width: 500px;
  }
  .we .info {
    margin: 20px 0 0 0;
  }
  .partner__sponsor {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .partner__link {
    margin-top: 20px;
  }
  .partner__title {
    font-size: 17px;
  }
  .getintouch__section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .getintouch__item {
    max-width: 300px;
  }
}

@media (max-width: 800px) {
  ._conteiner {
    max-width: 550px;
  }
  ._first {
    display: none;
  }
  ._second {
    display: block;
    opacity: 0.7;
  }
  .main__title {
    font-size: 40px;
  }
  ._title h1 {
    font-size: 28px;
  }
  .we__video iframe {
    width: 450px;
  }
  .we__title {
    font-size: 28px;
  }
  .partner__mail {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .partner__title {
    width: 300px;
    margin: 20px 0;
  }
  .partner__send-massege {
    width: 300px;
    margin-right: 0;
    margin-bottom: 15px;
  }
  .contact__conteiner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact__title {
    font-size: 17px;
  }
  .contact__item:last-child {
    margin-top: 30px;
  }
  .menu__item {
    width: 320px;
    margin: 0 auto 15px;
  }
  .menu__title {
    font-size: 11px;
  }
  .menu__title li {
    display: none;
    font-weight: normal;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
  }
  .menu__title._active li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menu__conteiner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
